$nav: #273a88;
$blue: blue;
$orange: orange;
$green: green;

$margin-left: 14.2px;

@mixin font($fontFamily, $fontSize, $color, $textTransform, $weight){
  font-family:$fontFamily;
  font-size: $fontSize;
  color: $color;
  text-transform: $textTransform;
  weight: $weight;
}

@mixin boxes($width, $height, $color, $float){
  width: $width;
  height: $height;
  background-color: $color;
  float: $float;
}

@mixin position ($position, $top, $right, $bottom, $left){
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}